# آدرس پایه‌ی Backend API
# برای اتصال به نسخه‌ی Production:
VITE_API_BASE_URL=https://freelancer-api-jhqh.onrender.com

# برای توسعه‌ی محلی روی Backend لوکال:
# VITE_API_BASE_URL=http://localhost:4002
